    <section class="hero py-20">
        <div class="container mx-auto flex items-center justify-between">
            <div class="w-1/2">
                <h6 class="text-lg"><em>Craving for something ?</em></h6>
                <h1 class="text-6xl font-bold">Don't Wait 🤤</h1>
                <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary">Order Now</button>
            </div>
            <!-- <div class="w-1/2"><img src="/img/hero.png" alt=""></div> -->
            <div class="carousel relative shadow-2xl bg-white">
                <div class="carousel-inner relative overflow-hidden w-full">
                  <!--Slide 1-->
                    <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
                    <div class="carousel-item absolute opacity-0" style="width:780px;height:500px;">
                        <div class="block h-full w-full bg-indigo-500 text-white text-5xl text-center"><img src="/img/carousel/c-1.png" alt=""></div>
                    </div>
                    <label for="carousel-5" class="prev control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-red-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
                    <label for="carousel-2" class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-red-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>
                    
                    <!--Slide 2-->
                    <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
                    <div class="carousel-item absolute opacity-0" style="width:780px;height:500px;">
                        <div class="block h-full w-full bg-orange-500 text-white text-5xl text-center"><img src="/img/carousel/c-2.png" alt=""></div>
                    </div>
                    <label for="carousel-1" class="prev control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-red-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
                    <label for="carousel-3" class="next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-red-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label> 
                    
                    <!--Slide 3-->
                    <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
                    <div class="carousel-item absolute opacity-0" style="width:780px;height:500px;">
                        <div class="block h-full w-full bg-green-500 text-white text-5xl text-center"><img src="/img/carousel/c-3.png" alt=""></div>
                    </div>
                    <label for="carousel-2" class="prev control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-red-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
                    <label for="carousel-4" class="next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-red-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>
                    
                    <!--Slide 4-->
                    <input class="carousel-open" type="radio" id="carousel-4" name="carousel" aria-hidden="true" hidden="">
                    <div class="carousel-item absolute opacity-0" style="width:780px;height:500px;">
                        <div class="block h-full w-full bg-green-500 text-white text-5xl text-center"><img src="/img/carousel/c-4.png" alt=""></div>
                    </div>
                    <label for="carousel-3" class="prev control-4 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-red-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
                    <label for="carousel-5" class="next control-4 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-red-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>
            
                    <!--Slide 5-->
                    <input class="carousel-open" type="radio" id="carousel-5" name="carousel" aria-hidden="true" hidden="">
                    <div class="carousel-item absolute opacity-0" style="width:780px;height:500px;">
                        <div class="block h-full w-full bg-green-500 text-white text-5xl text-center"><img src="/img/carousel/c-5.png" alt=""></div>
                    </div>
                    <label for="carousel-4" class="prev control-5 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-red-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
                    <label for="carousel-1" class="next control-5 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-red-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>
            

                    <!-- Add additional indicators for each slide-->
                    <ol class="carousel-indicators">
                        <li class="inline-block mr-3">
                            <label for="carousel-1" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-red-700">•</label>
                        </li>
                        <li class="inline-block mr-3">
                            <label for="carousel-2" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-red-700">•</label>
                        </li>
                        <li class="inline-block mr-3">
                            <label for="carousel-3" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-red-700">•</label>
                        </li>
                        <li class="inline-block mr-3">
                            <label for="carousel-4" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-red-700">•</label>
                        </li>
                        <li class="inline-block mr-3">
                            <label for="carousel-5" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
                        </li>
                    </ol>
                    
                </div>
            </div>
        </div>
    </section>

    <section class="menu container mx-auto py-8">
        <h1 class="text-xl font-bold mb-8">Menu</h1>
        <div class="grid grid-cols-4 col-gap-12 row-gap-16">
            <% dishes.forEach((dish) => { %>
            <div class="w-64">
                <img class="h-40 mb-4 mx-auto" src="/img/<%= dish.image %>" alt="">
                <div class="text-center">
                    <h2 class="mb-4 text-lg"><%= dish.name %></h2>
                    <span class="size py-1 px-4 rounded-full uppercase text-xs"><%= dish.size %></span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">₹<%= dish.price %></span>
                        <button data-dish="<%= JSON.stringify(dish) %>" class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </section>

