<head>
    <link rel="icon" href="img/icon.png">
</head>
<section class="login flex justify-center pt-20">
    <div class="w-full max-w-sm bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 ml-16">
            <% if(messages.error){ %>
                <span class="text-red-500 text-sm"><%= messages.error %></span>
            <% } else if(messages.success){%>
                <span class="text-red-500 text-sm"><%= messages.success %></span>
            <% } %>    
            <div class="text-xl font-bold mb-8">
                <h1 class="uppercase"><%= dish.name %></h1>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="dishId">
                    Dish Id
                </label>
                <input
                    name="dishId"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-green-900 leading-tight focus:outline-none focus:shadow-outline"
                    id="dish-id" type="text" value="<%= dish.id %>" readonly>
            </div>
            
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="dish">
                    Name
                </label>
                <input
                    name="dishName"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="dish-name" type="text" value="<%= dish.name %>" placeholder="Enter name of a dish">
            </div>
            
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="size">
                    Size
                </label>
                <input
                    name="dishSize" 
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="dish-size" type="text" value="<%= dish.size %>" placeholder="Enter size">
            </div>
            <div class="mb-2">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="price">
                    Price
                </label>
                <input
                    name="dishPrice" 
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="dish-price" type="text" value="<%= dish.price %>" placeholder="Enter price">
            </div>
            
            <div class="items-center mt-6">
                <button
                    class="btn-primary mr-20 save-btn add rounded-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit">
                    Save Changes
                </button>
                <button
                    class="btn-primary remove-btn add rounded-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    value="<%= dish.id %>" type="submit">
                    Remove
                </button>
            </div>
            <p class="text-center text-gray-500 mt-6 text-xs">
                &copy;2020 Siddharth. All rights reserved.
            </p>
    </div>
</section>
